/*------------------------------------*\
    #EMBER-TOGGLE
\*------------------------------------*/

.x-toggle:checked + label > .x-toggle-ios.x-toggle-btn {
    background: $green-500;
}

.x-toggle-ios.x-toggle-btn {
    background: $white;
    border: 1px solid $gray-400;
    transition: 0.2s;
}

.x-toggle-ios.x-toggle-btn::after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
}

.x-toggle-component.x-toggle-focused .x-toggle-btn:not(.x-toggle-disabled)::after,
.x-toggle-component.x-toggle-focused .x-toggle-btn:not(.x-toggle-disabled)::before {
    box-shadow: 0 0 2px 1px $gray-400;
}

