/*------------------------------------*\
    #EMBER-CLI-NOTIFICATIONS
\*------------------------------------*/


$ember-cli-notifications-icon-size: 30px !default;
$ember-cli-notifications-close-icon-size: 16px !default;

/**
 * The syntax "#{--var-name}" prevents sass-lint to crash.
 * https://github.com/sasstools/sass-lint/issues/877#issuecomment-267176435
 */

:root {
    #{--ecn-green}: $green-500;
    #{--ecn-blue}: $indigo-500;
    #{--ecn-orange}: $amber-500;
    #{--ecn-red}: $red-500;

    #{--ecn-spacing-1}: $spacing-unit * 2;
    #{--ecn-spacing-2}: $spacing-unit;
}


/* Keyframes */
@keyframes notification-show {
  0% {
    opacity: 0;
    transform: translate(0, 200px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes notification-shrink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    max-height: 0;
  }
}

@keyframes notification-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

.ember-cli-notifications-notification__container {
    .c-notification {
        align-items: center;
        box-shadow: $box-shadow;
        border-radius: $border-radius * 2;
        background: #747d8c;
    }

    .c-notification--in {
        animation: notification-show 180ms;
    }

    .c-notification--success .c-notification__svg {
        fill: $white;
    }

    .c-notification--error .c-notification__svg {
        fill: $white;
    }


    .c-notification--info .c-notification__svg {
        fill: $white;
    }


    .c-notification--warning  .c-notification__svg {
        fill: $white;
    }

    .c-notification__content {
        padding: $spacing-unit * 2;
        padding-left: 0;
        color: $white;
        font-size: 1.6rem;
        font-weight: $font-weight-semi-bold;
    }

    .c-notification__icon {
        z-index: 1;
        padding-left: $spacing-unit * 2;
        padding-right: $spacing-unit * 2;
        width: auto;
        background: #747d8c;
    }

    .c-notification__svg {
        width: $ember-cli-notifications-icon-size;
        height: $ember-cli-notifications-icon-size;
        fill: $white;
        vertical-align: top;
    }

    .c-notification__close .c-notification__svg {
        display: block;
        margin-left: $spacing-unit * 2;
        vertical-align: top;
        width: $ember-cli-notifications-close-icon-size;
        height: $ember-cli-notifications-close-icon-size;
        background: transparent;
        fill: $white;
    }

    .c-notification__countdown {
        display: none;
    }
}
