<div class="booking-layout">
  <div class="booking-layout__wrapper">
    <div class="booking-layout__header">
      <h1 class="booking-layout__logo">
        BigSeat.
      </h1>
      <h2 class="booking-layout__title">
        Booking
      </h2>
    </div>
    <div class="booking-layout__main">
      {{yield}}
    </div>
    <div class="booking-layout__footer">
      <LinkTo @route="booking.privacy" class="link link--secondary">Privacy Policy</LinkTo>
      -
      <LinkTo @route="booking.terms" class="link link--secondary">Terms of use</LinkTo>
    </div>
  </div>
</div>