<div class="checkin-layout">
  <div class="checkin-layout__wrapper">
    <div class="checkin-layout__header">
      <h1 class="checkin-layout__logo">
        {{t "site_name"}}
      </h1>
      <h2 class="checkin-layout__title">
        {{t "checkin.layout.title"}}
      </h2>
    </div>
    <div class="checkin-layout__main">
      {{yield}}
    </div>
  </div>
</div>