<div class="check-in-layout">
  <div class="check-in-layout__wrapper">
    <div class="check-in-layout__header">
      <h1 class="check-in-layout__logo">
        BigSeat.
      </h1>
      <h2 class="check-in-layout__title">
        Check-in
      </h2>
    </div>
    <div class="check-in-layout__main">
      {{yield}}
    </div>
  </div>
</div>