<div class="loader">
  <div class="loader__ring"></div>
  <div class="loader__ring loader__ring--second"></div>
  <div class="loader__ring loader__ring--third"></div>
  <div class="loader__ring loader__ring--fourth"></div>
</div>