<div class="privacy">
  <h1 class="privacy__title">Privacy Policy</h1>
  <div class="privacy__content">
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
  </div>
</div>