<div class="terms">
  <h1 class="terms__title">Terms of Services</h1>
  <div class="terms__content">
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>
    <p><LoremIpsum /></p>

    <button class="button button--primary button--full">Alright, sounds good!</button>
  </div>
</div>