<div>
  <div class="page-header">
    <div class="page-header__cell">
      <h1 class="page-header__title">Create Space</h1>
    </div>
  </div>

  <SpaceForm
    @changeset={{changeset @model SpaceValidation}}
    @showLoading={{isProcessing}}
    @onSubmit={{create}}
  />
</div>

<NotificationContainer
  @position="top-right"
/>
