<div>
  <div class="page-header">
    <div class="page-header__cell">
      <h1 class="page-header__title">Add space</h1>
    </div>
  </div>

  <SpaceForm
    @model={{this.space}}
    @onSubmit={{this.create}}
  />
</div>