<h3 class="style-guide__heading style-guide__heading--1">Badges</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Base</h4>
  <div class="style-guide__example">
    <span class="badge">My awesome badge</span>
  </div>
</div>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Colors</h4>
  <div class="style-guide__example">
    <span class="badge badge--success">.badge-success</span>
    <span class="badge badge--warning">.badge-warning</span>
    <span class="badge badge--danger">.badge-danger</span>
    <span class="badge badge--primary">.badge-primary</span>
  </div>
</div>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Outline</h4>
  <div class="style-guide__example">
    <span class="badge badge--outline">.badge-outline</span>
  </div>
</div>
