<h3 class="style-guide__heading style-guide__heading--1">Buttons</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Unit Test</h4>
  <div class="style-guide__example">
    <a href="#" class="button">Style correctly link tags</a>
    <button class="button">Style correctly button tags</button>
    <input type="submit" class="button" value="Style correctly submit tags" />
  </div>
</div>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Sizes</h4>
  <div class="style-guide__example">
    <a class="button button--small" href="#">.button.button--small</a>
    <a class="button" href="#">.button</a>
    <a class="button button--large" href="#">.button.button--large</a>
    <a class="button button--full" href="#">.button.button--full</a>
  </div>
</div>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Colors</h4>
  <p class="style-guide__description">Base colors</p>
  <div class="style-guide__example">
    <a class="button" href="#">.button</a>
    <a class="button button--primary" href="#">.button.button--primary</a>
    <a class="button button--danger" href="#">.button.button--danger</a>
    <a class="button button--success" href="#">.button.button--success</a>
  </div>

  <p class="style-guide__description">Outline colors</p>
  <div class="style-guide__example">
    <a class="button button--outline" href="#">.button.button--outline</a>
    <a class="button button--primary-outline" href="#">.button.button--primary-outline</a>
    <a class="button button--danger-outline" href="#">.button.button--danger-outline</a>
    <a class="button button--success-outline" href="#">.button.button--success-outline</a>
  </div>
</div>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">States</h4>
  <p class="style-guide__description">A `Loader` component can be added to show a processing state.</p>
  <div class="style-guide__example">
    <button class="button button--primary" href="#" disabled="disabled">
      <Loader />
    </button>
    <button class="button button--primary" href="#" disabled="disabled">
      Booking your seat
      <Loader />
    </button>
    <button class="button button--danger" href="#" disabled="disabled">
      Cancelling booking
      <Loader />
    </button>
  </div>
</div>