<h3 class="style-guide__heading style-guide__heading--1">Calendar</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Base</h4>
  <div class="style-guide__example">
    <PowerCalendar
      class="ember-power-calendar--bigseat" as |calendar|>
      <calendar.Nav/>
      <calendar.Days/>
    </PowerCalendar>
  </div>
</div>