<h3 class="style-guide__heading style-guide__heading--1">Dropdown</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Example</h4>
  <div class="style-guide__example">
    <div class="dropdown">
      <ul class="dropdown__items">
        <li class="dropdown__item">
          <a class="dropdown__item-link" href="#">Log out</a>
        </li>
        <li class="dropdown__item">
          <a class="dropdown__item-link" href="#">Other action</a>
        </li>
        <li class="dropdown__item">
          <a class="dropdown__item-link" href="#">Yolo</a>
        </li>
      </ul>
    </div>
  </div>
</div>