<h3 class="style-guide__heading style-guide__heading--1">Forms</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Global Example</h4>

  <div class="style-guide__example">
    <div class="form">
      <div class="grid">
        <div class="grid__cell">
          <div class="form__group">
            <div class="form__label">Email</div>
            <input type="text" class="form__input" />
          </div>
        </div>
        <div class="grid__cell grid__cell--50">
          <div class="form__group">
            <label class="form__label">First Name</label>
            <input type="text" class="form__input" placeholder="Big" />
          </div>
        </div>
        <div class="grid__cell grid__cell--50">
          <div class="form__group">
            <div class="form__label">Last Name</div>
            <input type="text" class="form__input" placeholder="Seat">
          </div>
        </div>

        <div class="grid__cell grid__cell--33">
          <div class="form__group">
            <div class="form__label">Address</div>
            <input type="text" class="form__input" placeholder="Seat">
          </div>
        </div>
        <div class="grid__cell grid__cell--33">
          <div class="form__group">
            <div class="form__label">Address 2</div>
            <input type="text" class="form__input" placeholder="Seat">
          </div>
        </div>
        <div class="grid__cell grid__cell--33">
          <div class="form__group">
            <div class="form__label">Zip</div>
            <input type="text" class="form__input" placeholder="Seat">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>