<h3 class="style-guide__heading style-guide__heading--1">Heading Section</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Global Example</h4>
  <div class="style-guide__example">
    <div class="heading-section">
      <div class="heading-section__title">Add your team in a few clicks!</div>
      <div class="heading-section__description">You can easily add them now to the people list. This can be done manually or through CSV later on if you prefer.</div>
    </div>
  </div>
</div>