<h3 class="style-guide__heading style-guide__heading--1">Navigation Pills</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Global Example</h4>
  <div class="style-guide__example">
    <div class="navigation-pills">
      <ul class="navigation-pills__items">
        <li class="navigation-pills__item"><a href="#" class="navigation-pills__item-link is-active">Profile</a></li>
        <li class="navigation-pills__item"><a href="#" class="navigation-pills__item-link">Security</a></li>
        <li class="navigation-pills__item"><a href="#" class="navigation-pills__item-link">Danger Zone</a></li>
      </ul>
    </div>
  </div>
</div>