<h3 class="style-guide__heading style-guide__heading--1">Notifications</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Global Example</h4>
  <div class="style-guide__example">
    <button class="button" {{on "click" this.showExamples}}>Show examples</button>
  </div>
</div>

<NotificationContainer
  @position="top-right"
  @zindex="9999"
/>