<h3 class="style-guide__heading style-guide__heading--1">Page Header</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Global Example</h4>
  <div class="style-guide__example">
    <div class="page-header">
      <div class="page-header__cell">
        <h4 class="page-header__title">Create space</h4>
      </div>
      <div class="page-header__cell">
        <button class="button button--outline">Skip this step for now -></button>
      </div>
    </div>
  </div>
</div>