<h3 class="style-guide__heading style-guide__heading--1">Tables</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Global Example</h4>

  <div class="style-guide__example">
    <table class="table">
      <thead>
        <tr>
          <th>Person</th>
          <th>Last visit</th>
          <th>Visits</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Laurent Schaffner
          </td>
          <td>
            Yesterday
          </td>
          <td>
            10
          </td>
          <td>
            <a href="#" class="button button--primary button--small">Edit person</a>
            <button class="button button--danger button--small" disabled="disabled">Archiving <Loader /></button>
          </td>
        </tr>
        <tr>
          <td>
            <p class="table__group">
              <span class="table__group-key"><strong>Jeremie Ges</strong></span>
              <span class="table__group-value">jeremie@syatt.io</span>
            </p>
          </td>
          <td>
            <p class="table__group">
              <span class="table__group-key">October 3, 2020</span>
              <span class="table__group-value">a week ago</span>
            </p>
          </td>
          <td>
            10
          </td>
          <td>
            <a href="#" class="button button--primary button--small">Edit person</a>
            <a href="#" class="button button--danger button--small">Archive person</a>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="table__thumbnails">
              <li class="table__thumbnail">
                <img class="table__thumbnail-picture" src="/empty_office.jpg" />
              </li>
              <li class="table__thumbnail">
                <img class="table__thumbnail-picture" src="/empty_office.jpg" />
              </li>
              <li class="table__thumbnail">
                <img class="table__thumbnail-picture" src="/empty_office.jpg" />
              </li>
              <li class="table__thumbnail-label">
                +2
              </li>
            </ul>
          </td>
          <td>
            <p class="table__group">
              <span class="table__group-key">October 3, 2020</span>
              <span class="table__group-value">a week ago</span>
            </p>
          </td>
          <td>
            10
          </td>
          <td>
            <a href="#" class="button button--primary button--small">Edit person</a>
            <a href="#" class="button button--danger button--small">Archive person</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>