<h3 class="style-guide__heading style-guide__heading--1">Thumbnail</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Regular</h4>
  <div class="style-guide__example">
    <div class="thumbnail">
      <img src="/thumbnail.jpg" class="thumbnail__picture" />
    </div>
    <div class="thumbnail">
      <img src="/thumbnail.jpg" class="thumbnail__picture" />
    </div>
    <div class="thumbnail">
      <img src="/thumbnail.jpg" class="thumbnail__picture" />
    </div>
  </div>
</div>


<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Rounded</h4>
  <div class="style-guide__example">
    <div class="thumbnail thumbnail--rounded">
      <img src="/thumbnail.jpg" class="thumbnail__picture" />
    </div>
  </div>
</div>