<div class="activity">
  <div class="page-header">
    <div class="page-header__cell">
      <h4 class="page-header__title">Activity</h4>
      <div class="navigation-pills">
        <ul class="navigation-pills__items">
          <li class="navigation-pills__item"><LinkTo @route="admin.activity.checkins" class="navigation-pills__item-link">Check-ins</LinkTo></li>
          <li class="navigation-pills__item"><LinkTo @route="admin.activity.bookings" class="navigation-pills__item-link">Bookings</LinkTo></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="activity__wrapper">
    <div class="activity__content">
      <table class="table table--full">
            <thead>
              <tr>
                <th>Person</th>
                <th>Space</th>
                <th>Details</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="grid grid--auto grid--middle">
                    <div class="grid__cell">
                      <div class="thumbnail thumbnail--small thumbnail--circle">
                        <img class="thumbnail__picture" src="/jeremie.jpg" />
                      </div>
                    </div>
                    <div class="grid__cell">
                      <p class="table__group">
                        <span class="table__group-key"><strong>Jeremie Ges</strong></span>
                        <span class="table__group-value">jeremie@syatt.io</span>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="grid grid--auto grid--middle">
                    <div class="grid__cell">
                      <div class="thumbnail thumbnail--small thumbnail--circle">
                        <img class="thumbnail__picture" src="/cat.jpg" />
                      </div>
                    </div>
                    <div class="grid__cell">
                      <p class="table__group">
                        <span class="table__group-key"><strong>Kitty Room</strong></span>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <ul class="table__list">
                    <li class="table__list-item">Notification sent Jan. 29 at 08:00 a.m.</li>
                  </ul>
                </td>
                <td>
                  Jan. 29 at 1:42 a.m.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</div>