<div class="activity">
  <div class="page-header">
    <div class="page-header__cell">
      <h4 class="page-header__title">Activity</h4>
    </div>
  </div>
  <div class="activity__wrapper">
    <div class="activity__content">
      <table class="table table--full">
            <thead>
              <tr>
                <th>Person</th>
                <th>Event</th>
                <th>Space</th>
                <th>Details</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="grid grid--auto grid--middle">
                    <div class="grid__cell">
                      <div class="thumbnail thumbnail--small thumbnail--circle">
                        <img class="thumbnail__picture" src="/jeremie.jpg" />
                      </div>
                    </div>
                    <div class="grid__cell">
                      <p class="table__group">
                        <span class="table__group-key"><strong>Jeremie Ges</strong></span>
                        <span class="table__group-value">jeremie@syatt.io</span>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="badge">Check-in</span>
                </td>
                <td>
                  <div class="grid grid--auto grid--middle">
                    <div class="grid__cell">
                      <div class="thumbnail thumbnail--small thumbnail--circle">
                        <img class="thumbnail__picture" src="/thumbnail.jpg" />
                      </div>
                    </div>
                    <div class="grid__cell">
                      <p class="table__group">
                        <span class="table__group-key"><strong>Kitty Room</strong></span>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <ul class="table__list">
                    <li class="table__list-item">Notification sent Jan. 29 at 08:00 a.m.</li>
                  </ul>
                </td>
                <td>
                  Jan. 29 at 1:42 a.m.
                </td>
              </tr>
              <tr>
                <td>
                  <div class="grid grid--auto grid--middle">
                    <div class="grid__cell">
                      <div class="thumbnail thumbnail--small thumbnail--circle">
                        <img class="thumbnail__picture" src="/laurent.jpg" />
                      </div>
                    </div>
                    <div class="grid__cell">
                      <p class="table__group">
                        <span class="table__group-key"><strong>Laurent Schaffner</strong></span>
                        <span class="table__group-value">laurent@syatt.io</span>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="badge badge--primary">Booking</span>
                </td>
                <td>
                  <div class="grid grid--auto grid--middle">
                    <div class="grid__cell">
                      <div class="thumbnail thumbnail--small thumbnail--circle">
                        <img class="thumbnail__picture" src="/thumbnail.jpg" />
                      </div>
                    </div>
                    <div class="grid__cell">
                      <p class="table__group">
                        <span class="table__group-key"><strong>Kitty Room</strong></span>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <ul class="table__list">
                    <li class="table__list-item">10 Feb. 2021 -> 12 Feb. 2021</li>
                  </ul>
                </td>
                <td>
                  Jan. 29 at 1:00 p.m.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</div>