<AdminLayout>
  <div class="configure-checkin">
    <div class="configure-checkin__header">
      <h1 class="configure-checkin__title">Configure check-in</h1>
      <div class="configure-checkin__action">
        <button class="button button--outline">Skip this step for now -></button>
      </div>
    </div>
    <p class="configure-checkin__description">
      Each time someone visits the office, he can <strong>check-in</strong> to notify his presence.
    </p>
    <div class="configure-checkin__content">
      <div class="configure-checkin__sync">
        <h3 class="configure-checkin__sync-title">
          Synchronize your team!
        </h3>
        <p class="configure-checkin__sync-description">
          To ease your company setup, you can sync up with one of your favorite tools. No worry, we’ll only ask you the essential to make it work together smoothly.
        </p>
      </div>
      <div class="configure-checkin__cards">
        <div class="configure-checkin__card">
          <div class="configure-checkin__card-asset">
            {{inline-svg "brands/slack" class="svg"}}
          </div>
          <h3 class="configure-checkin__card-title">Slack</h3>
          <button class="button button--full button--primary">Setup</button>
        </div>
        <div class="configure-checkin__card">
          <div class="configure-checkin__card-asset">
            {{inline-svg "icons/file-upload" class="svg"}}
          </div>
          <h3 class="configure-checkin__card-title">CSV</h3>
          <button class="button button--full button--primary">Setup</button>
        </div>
      </div>
    </div>
  </div>
</AdminLayout>