<AdminLayout>
  <div class="configure-booking">
    <div class="page-header">
      <div class="page-header__cell">
        <h1 class="page-header__title">Configure Booking</h1>
      </div>
      <div class="page-header__cell">
        <LinkTo @route="admin.spaces" class="button button--outline">Continue -></LinkTo>
      </div>
    </div>
    <div class="configure-booking__description">
      Remote workers aren’t usually in the office, they won’t be asked to check-in unless they book a seat.<br/>
      With a simple link, you can let them book your spaces.
    </div>
    <div class="configure-booking__content">
      <div class="configure-booking__sync">
        <div class="heading-section">
          <h3 class="heading-section__title">
            Share your booking link
          </h3>
          <p class="heading-section__description">
            All you have to do is to share the booking link to your remote team mates<br/> so they can visit the office.
          </p>
        </div>
      </div>
      <div class="configure-booking__asset">
        {{inline-svg "illustrations/calendar-check" class="svg"}}
      </div>
      <div class="configure-booking__copy-url">
        <div class="configure-booking__copy-url-container">
          <input type="text" value="https://bigseat.co/@livestorm" class="configure-booking__copy-url-input" readonly />
          <button class="configure-booking__copy-url-button button button--primary">Copy</button>
        </div>
      </div>
    </div>
  </div>
</AdminLayout>