<AdminLayout>
  <div class="settings">
    <h2 class="settings__title">Settings</h2>
    <div class="navigation-pills">
      <ul class="navigation-pills__items">
        <li class="navigation-pills__item"><LinkTo @route="admin.settings.index" class="navigation-pills__item-link">Edit profile</LinkTo></li>
        <li class="navigation-pills__item"><LinkTo @route="admin.settings.security" class="navigation-pills__item-link">Reset password</LinkTo></li>
        <li class="navigation-pills__item"><LinkTo @route="admin.settings.danger-zone" class="navigation-pills__item-link">Danger Zone</LinkTo></li>
      </ul>
    </div>

    <div class="settings__content">
      {{outlet}}
    </div>
  </div>
</AdminLayout>