<div class="empty-state">
  <div class="empty-state__asset empty-state__asset--analytics">
    {{inline-svg "illustrations/analytics" class="svg"}}
  </div>

  <h1 class="empty-state__title">{{t "admin.analytics.no_results.title"}}</h1>
  <p class="empty-state__description">{{t "admin.analytics.no_results.description"}}</p>
</div>