<CheckInLayout>
  <div class="check-in-confirmation">
    <h1 class="check-in-confirmation__title">{{t "check-in.index.title"}}</h1>
    <h2 class="check-in-confirmation__punchline">{{t "check-in.index.punchline"}}</h2>

    <div class="check-in-confirmation__excerpt">
      <div class="grid">
        <div class="grid__cell">
          <div class="check-in-confirmation__excerpt-thumbnail">
            <img class="check-in-confirmation__excerpt-thumbnail-picture" src="/thumbnail.png" />
          </div>
        </div>
        <div class="grid__cell">
          <h3 class="check-in-confirmation__excerpt-title">Kitties Room</h3>
          <div class="check-in-confirmation__excerpt-description">
            <h4 class="check-in-confirmation__excerpt-user">Ges Jeremie</h4>
            <p class="check-in-confirmation__excerpt-time">
              Checked-in at <strong>08:37</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div c>{{t "check-in.index.close_page"}}</div>
  </div>
</CheckInLayout>