/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/**
 * Color Variables
 */

$black: #000000;
$white: #FFFFFF;

$gray-100: #F6F6F9;
$gray-200: #F3F4F6;
$gray-300: #DFE2E6;
$gray-400: #DCDCE0;
$gray-500: #6B7280;
$gray-600: #BEBEC6;

$indigo-100: #EEF2FF;
$indigo-200: #E2E7FB;
$indigo-300: #DCDBF9;
$indigo-400: #A7A6F0;
$indigo-500: #504DE2;
$indigo-600: #3A37DE;
$indigo-700: #3835A1;

$green-100: #F1FFF9;
$green-500: #2EB67D;
$green-600: #29A26F;

$red-100: #FFF5F5;
$red-500: #ED4649;
$red-600: #EB2F32;