<div class="settings__section">
  <div class="settings__subtitle">Danger Zone</div>
  <div class="settings__description">By deleting your account you will lose all your data.</div>
  <button class="button button--danger">Delete account</button>
</div>
