<div class="settings__section settings__section--delete-account">
  <h3 class="settings__subtitle">Warning</h3>
  <p class="settings__description">Once you delete your account you will lose all your data. <br/>There is no going back. Please be certain.</p>
  <button class="button button--danger">Delete account</button>
</div>
