<div class="form">
  <div class="settings__section">
    <div class="grid grid--huge">
      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="first_name" class="form__label">First name</label>
          <input id="first_name" type="text" name="first_name" placeholder="Laurent" class="form__input" />
        </div>
      </div>
      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="last_name" class="form__label">Last name</label>
          <input id="last_name" type="text" name="last_name" placeholder="Schaffner" class="form__input" />
        </div>
      </div>
    </div>

    <div class="grid grid--huge">
      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="email" class="form__label">Email Address</label>
          <input id="email" type="text" name="email" placeholder="user@bigseat.co" class="form__input" />
        </div>
      </div>
    </div>

    <div class="grid grid--huge">
      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="company_name" class="form__label">Company Name</label>
          <input id="company_name" type="text" name="company_name" placeholder="Bigseat HQ" class="form__input" />
        </div>
      </div>
    </div>

    <button class="button button--large button--primary">Save profile</button>
  </div>
</div>