<div class="settings__section">
  <div class="grid">
    <div class="grid__cell grid__cell--30">
      <div class="form__group">
        <label for="password" class="form__label">Current password</label>
        <input id="password" type="password" name="password" class="form__input" />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__cell grid__cell--30">
      <div class="form__group">
        <label for="last_name" class="form__label">New password</label>
        <input id="new_password" type="new_password" name="new_password" class="form__input" />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__cell grid__cell--30">
      <div class="form__group">
        <label for="password" class="form__label">Confirm new password</label>
        <input id="password" type="password" name="password" class="form__input" />
      </div>
    </div>
  </div>
  <button class="button button--large button--primary">Change Password</button>
</div>
