/*------------------------------------*\
    #ADMIN-LAYOUT
\*------------------------------------*/

.admin-layout {
    margin: 0 auto;
    padding: 0 ($spacing-unit * 4);
    max-width: $breakpoint-2x-large;
}

    .admin-layout__sidebar {}

    .admin-layout__main {
        flex: auto;
        position: relative;
        margin-top: $spacing-unit * 2.5;
        margin-bottom: $spacing-unit * 2.5;
        margin-left: $sidebar-width;
        padding: $spacing-unit * 3;
        min-height: calc(100vh - #{$spacing-unit * 5});
        background: $white;
        border-radius: 6px;
        box-shadow: $box-shadow;
    }
