/*------------------------------------*\
    #BOOKING-CALENDAR
\*------------------------------------*/

.booking-calendar {}

    .booking-calendar__title {
        font-size: $font-size-x-large;
        font-weight: $font-weight-bold;
        letter-spacing: $letter-spacing-x-small;
    }