/*------------------------------------*\
    #BOOKING-LAYOUT
\*------------------------------------*/

.booking-layout {
    margin: 0 auto;
    max-width: $breakpoint-x-large;
}

    .booking-layout__wrapper {
        margin-top: $spacing-unit * 4;
    }

        .booking-layout__header {
            display: flex;
            align-items: center;
        }

            .booking-layout__logo {
                flex: 1;
                font-size: $font-size-2x-large;
                font-weight: $font-weight-extra-bold;
                letter-spacing: $letter-spacing-x-small;
            }

            .booking-layout__title {
                font-size: $font-size-large;
                font-weight: $font-weight-bold;
                letter-spacing: $letter-spacing-small;
                text-align: right;
                flex: 1;
            }

        .booking-layout__main {
            background-color: $white;
            min-height: 600px;
            border-radius: 6px;
            box-shadow: $box-shadow;

        }

        .booking-layout__footer {
            margin-top: $spacing-unit * 4;
            text-align: center;
            color: $gray-500;
        }