/*------------------------------------*\
    #BOOKING-SPACES
\*------------------------------------*/

.booking-spaces {
}

    .booking-spaces__title {
        margin-bottom: $spacing-unit * 2;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        letter-spacing: $letter-spacing-small;
    }

    .booking-spaces__items {
        margin-top: $spacing-unit * 2;
        max-height: 500px;
        overflow: auto;
    }

        .booking-spaces__item {
            display: flex;
            margin-bottom: $spacing-unit * 3;
        }

            .booking-spaces__cover {
                max-width: 80px;
            }

                .booking-spaces__cover-picture {
                    border-radius: $border-radius;
                }

            .booking-spaces__content {
                padding-left: $spacing-unit * 2;
            }

                .booking-spaces__thumbnails {}

                .booking-spaces__availability {}

                .booking-spaces__people {
                    display: none;
                    font-size: $font-size-small;
                }

                .booking-spaces__description {
                    display: none;

                    margin-top: $spacing-unit;
                }
