/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

.button {
    @include button-reset;
    display: inline-block;
    padding: $spacing-unit ($spacing-unit * 1.5);
    color: $black;
    font-size: $font-size;
    font-weight: $font-weight-medium;
    line-height: $line-height;
    background-color: $white;
    border: 1px solid $gray-400;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    transition: background-color 0.4s;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover,
    &:focus {
        background: $gray-200;
    }
}

/**
 * Colors
 */

.button--primary {
    color: $white;
    background-color: $indigo-500;
    border-color: $indigo-500;

    &:hover,
    &:focus {
        background-color: $indigo-600;
    }
}

.button--success {
    color: $white;
    background-color: $green-500;
    border-color: $green-500;

    &:hover,
    &:focus {
        background-color: $green-600;
    }
}

.button--danger {
    color: $white;
    background-color: $red-500;
    border-color: $red-500;

    &:hover,
    &:focus {
        background-color: $red-600;
    }
}

.button--outline {
    color: $gray-500;
    background-color: $white;
    border-color: $gray-500;

    &:hover,
    &:focus {
        background-color: $gray-100;
    }
}

.button--primary-outline {
    color: $indigo-500;
    background-color: $white;
    border-color: $indigo-500;

    &:hover,
    &:focus {
        background-color: $indigo-100;
    }
}

.button--success-outline {
    color: $green-500;
    background-color: $white;
    border-color: $green-500;

    &:hover,
    &:focus {
        background-color: $green-100;
    }
}

.button--danger-outline {
    color: $red-500;
    background-color: $white;
    border-color: $red-500;

    &:hover,
    &:focus {
        background-color: $red-100;
    }
}


/**
 * Sizes
 */

.button--small {
    padding: ($spacing-unit * 0.5) $spacing-unit;
    font-size: $font-size-small;
}

.button--large {
    padding: $spacing-unit ($spacing-unit * 2.5);
    font-size: $font-size-large;
}

.button--x-large {
    padding: ($spacing-unit * 1.5) ($spacing-unit * 3.5);
    font-size: $font-size-large;
}

.button--full {
    display: block;
    width: 100%;
    text-align: center;
}
