/*------------------------------------*\
    #CENTERED-SCROLLING
\*------------------------------------*/

.centered-scrolling {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

    .centered-scrolling__overlay {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        padding: $spacing-unit * 4;
        height: auto;
        min-height: 100vh;
    }

    .centered-scrolling__container {
        position: relative;
        margin: ($spacing-unit * 3) 0;
        padding: $spacing-unit * 6;
        max-width: 700px;
        min-width: 500px;
        min-height: 300px;
        box-shadow: $box-shadow;
    }

