/*------------------------------------*\
    #CHECKIN-LAYOUT
\*------------------------------------*/

.checkin-layout {
    margin: 0 auto;
    max-width: $breakpoint-x-large;
}

    .checkin-layout__wrapper {
        margin-top: $spacing-unit * 4;
    }

        .checkin-layout__header {
            display: flex;
            align-items: center;
        }

            .checkin-layout__logo {
                flex: 1;
                font-size: $font-size-2x-large;
                font-weight: $font-weight-extra-bold;
                letter-spacing: $letter-spacing-x-small;
            }

            .checkin-layout__title {
                font-size: $font-size-large;
                font-weight: $font-weight-bold;
                letter-spacing: $letter-spacing-small;
                text-align: right;
                flex: 1;
            }

        .checkin-layout__main {
            background-color: $white;
            min-height: 600px;
            border-radius: 6px;
            box-shadow: $box-shadow;

        }
