/*------------------------------------*\
    #CREATE-SPACE
\*------------------------------------*/

.create-space {}

    .create-space__section {
        padding-top: $spacing-unit * 3;
        border-bottom: 1px solid $gray-200;

        &:last-of-type {
            border-bottom: 0;
        }
    }

        .create-space__subtitle {
            margin-bottom: $spacing-unit / 1.5;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing-small;
        }

        .create-space__description {
            display: block;
            margin-bottom: $spacing-unit * 2;
        }