/*------------------------------------*\
    #DROPDOWN
\*------------------------------------*/

.dropdown {
    width: 100%;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $gray-200;
    box-shadow: $box-shadow;
    font-size: 12px;
}

.dropdown--navigation {}

    .dropdown__items {
        display: flex;
        flex-direction: column;
    }

        .dropdown__item {
            display: block;
        }

        .dropdown__item--danger {}

            .dropdown__item-header {
                display: block;
                padding: $spacing-unit ($spacing-unit * 1.5);
                text-transform: capitalize;
                font-weight: $font-weight-bold;
                color: $gray-500;
            }

            .dropdown__item-link {
                display: flex;
                align-items: center;
                padding: $spacing-unit ($spacing-unit * 1.5);

                &:hover {
                    background-color: $gray-100;
                }
            }

                .dropdown__item-icon {
                    margin-right: $spacing-unit;

                    .dropdown__item--danger & {
                        fill: $red-600;
                    }
                }

                .dropdown__item-label {
                    .dropdown__item--danger & {
                        color: $red-600;
                    }
                }
