/*------------------------------------*\
    #FORM
\*------------------------------------*/

.form {}

    .form__group {
        margin-top: $spacing-unit * 2;
    }

        .form__label {
            display: block;
            width: 100%;
            font-size: $font-size;
            font-weight: $font-weight-light;

            + .form__input {
              margin-top: $spacing-unit / 2;
            }
        }

        .form__label--terms {
            margin: $spacing-unit 0;
            font-size: $font-size-small;
            line-height: $line-height-small;
        }

        .form__input {
            display: block;
            padding: $spacing-unit * 1.5;
            width: 100%;
            font-size: $font-size;
            border: 1px solid $gray-400;
            border-radius: 5px;
        }
