/*------------------------------------*\
    #FORM
\*------------------------------------*/

.form {}

    .form__group {
        margin-bottom: $spacing-unit * 2;
    }

        .form__label {
            display: block;
            width: 100%;
            color: $gray-500;
            font-size: $font-size-small;
            font-weight: $font-weight-medium;

            + .form__input {
              margin-top: $spacing-unit / 2;
            }
        }

        .form__label--terms {
            margin: $spacing-unit 0;
            font-size: $font-size-small;
            line-height: $line-height-small;
        }

        .form__input {
            display: inline-block;
            padding: ($spacing-unit * 1.5) ($spacing-unit * 1.75);
            width: 100%;
            font-family: $font-family-primary;
            border: 0;
            border-radius: $border-radius;
            box-shadow: $box-shadow-input;
            transition: box-shadow 0.2s ease;

            &:hover {
                box-shadow: $box-shadow-input-on-hover;
            }

            &:focus {
                box-shadow: $box-shadow-input-on-focus;
            }

            &[type="checkbox"] {
                width: auto;
                box-shadow: none;
            }
        }

        .form__input--width-small {
            max-width: 100px;
        }

        .form__error {
            padding-top: $spacing-unit / 2;
            font-size: $font-size-x-small;
            color: $red-500;
        }
