/*------------------------------------*\
    #NAVIGATION-PILLS
\*------------------------------------*/

.navigation-pills {
    margin: ($spacing-unit * 2) 0;
}

    .navigation-pills__items {
        display: flex;
    }

        .navigation-pills__item {
            margin-left: $spacing-unit / 2.5;

            &:first-of-type {
                margin-left: 0;
            }
        }

            .navigation-pills__item-link {
                padding: ($spacing-unit * 0.75) ($spacing-unit * 1.25);
                color: $gray-500;
                font-size: $font-size;

                &.is-active {
                    color: $indigo-500;
                    background: $indigo-200;
                    border-radius: 6px;
                }

                &:hover {
                    color: $indigo-500;
                }
            }