/*------------------------------------*\
    #NOT-FOUND
\*------------------------------------*/

.not-found {}

    .not-found__wrapper {
        margin: 0 auto;
        margin-top: $spacing-unit * 5;
        padding: $spacing-unit * 5;
        max-width: $breakpoint-2x-large;
        background-color: $white;
        border-radius: 5px;
        box-shadow: $box-shadow;
    }
