/*------------------------------------*\
    #PAGE-HEADER
\*------------------------------------*/

.page-header {
    display: flex;
    padding-bottom: $spacing-unit;
    align-items: center;
    justify-content: space-between;
}

    .page-header__cell {}

        .page-header__title {
            display: inline-block;
            font-size: $font-size-3x-large;
            font-weight: $font-weight-extra-bold;
            letter-spacing: $letter-spacing-x-small;
            vertical-align: middle;
        }