/*------------------------------------*\
    #PLUGIN-CARD
\*------------------------------------*/

$plugin-card-padding: $spacing-unit * 3 !default;

.plugin-card {
    height: 100%;
    background: $white;
    border: 1px solid $gray-300;
    border-radius: 6px;
}

    .plugin-card__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $plugin-card-padding;
        height: 100%;
    }
        .plugin-card__body {}

            .plugin-card__header {
                display: flex;
                justify-content: space-between;
            }

                .plugin-card__logo {
                    width: 100%;
                    max-width: 40px;
                }

                .plugin-card__status {
                    color: $gray-500;
                    font-size: $font-size-small;
                    font-weight: $font-weight-medium;
                    line-height: $line-height-none;
                    text-transform: uppercase;
                }

                .plugin-card__status--enabled {
                    color: $green-500;
                }

                .plugin-card__status--disabled {}

            .plugin-card__content {}

                .plugin-card__title {
                    margin-top: $spacing-unit * 2;
                    font-size: $font-size-x-large;
                    font-weight: $font-weight-semi-bold;
                    letter-spacing: $letter-spacing-x-small;
                }

                .plugin-card__description {
                    margin-top: $spacing-unit * 2;
                    margin-bottom: $spacing-unit * 4;
                    font-size: $font-size;
                    line-height: $line-height;
                }

        .plugin-card__footer {}
