/*------------------------------------*\
    #PLUGINS
\*------------------------------------*/

.plugins {}

    .plugins__list {
        display: flex;
        flex-wrap: wrap;
    }

        .plugins__item {
            padding-right: $spacing-unit;
            padding-bottom: $spacing-unit * 1.5;
            padding-left: $spacing-unit;
            width: 100%;

            @include respond-to('large') {
                width: calc(100% / 2);
            }

            @include respond-to('x-large') {
                width: calc(100% / 3);
            }
        }