/*------------------------------------*\
    #PRIVACY
\*------------------------------------*/

.privacy {}

    .privacy__title {
        font-size: $font-size-x-large;
        font-weight: $font-weight-extra-bold;
        letter-spacing: $letter-spacing-x-small;
    }

    .privacy__content {
        p {
          margin: ($spacing-unit * 2) 0;
        }
    }