/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

.settings {}

    .settings__content {
        position: relative;
    }

        .settings__section {
            @include respond-to('large') {
                max-width: 65%;
            }
        }

        .settings__section--delete-account {
            padding: $spacing-unit * 3;
            background: $red-100;
            border-radius: 6px;
        }

            .settings__subtitle {
                margin-bottom: $spacing-unit / 1.5;
                font-size: $font-size-large;
                font-weight: $font-weight-bold;
                letter-spacing: $letter-spacing-small;

                .settings__section--delete-account & {
                    color: $red-500;
                }
            }

            .settings__description {
                display: block;
                margin-bottom: $spacing-unit * 2;
                line-height: $line-height-large;
            }
