/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

.settings {}

    .settings__title {
        padding-bottom: $spacing-unit;
        font-size: $font-size-4x-large;
        font-weight: $font-weight-extra-bold;
        letter-spacing: $letter-spacing-x-small;
    }

    .settings__subtitle {
        margin-bottom: $spacing-unit / 1.5;
        font-size: $font-size-x-large;
        font-weight: $font-weight-medium;
        letter-spacing: $letter-spacing-small;
    }

    .settings__content {
        position: relative;
        margin: ($spacing-unit * 2) 0;

        &:first-of-type {
            margin-top: $spacing-unit * 2;
        }
    }

        .settings__section {
            @include respond-to('large') {
                max-width: 65%;
            }
        }

        .settings__description {
            display: block;
            margin-bottom: $spacing-unit * 2;
            font-size: $font-size;
            font-weight: $font-weight-light;
        }