/*------------------------------------*\
    #SIGNUP
\*------------------------------------*/

.signup {
    margin-top: $spacing-unit * 8;
}

    .signup__wrapper {
        display: grid;
        margin: 0 auto;
        max-width: $breakpoint-large;
        box-shadow: $box-shadow;
        grid-template-columns: repeat(2, 50%);
    }


        .signup__intro {
            padding: $spacing-unit * 5;
            color: $white;
            background: linear-gradient(180deg, $indigo-500 0.1%, $indigo-700 100%);
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;

            p {
                margin-top: $spacing-unit * 3;
            }
        }

            .signup__title {
                font-size: $font-size-3x-large;
                font-weight: $font-weight-semi-bold;
                letter-spacing: $letter-spacing-x-small;
            }

            .signup__description {
                margin-top: $spacing-unit * 5;
                line-height: $line-height-small;
            }

        .signup__form {
            padding: $spacing-unit * 5;
            padding-top: $spacing-unit * 2;
            background-color: $white;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

            .signup__asset {
                margin: 0 auto;
                max-width: 250px;
            }

