/*------------------------------------*\
    #SVG
\*------------------------------------*/


.svg {
    max-width: 100%;

    .plugin-card__status & {
        width: 15px;
        vertical-align: bottom;
        fill: currentColor;
    }

    .checkin-confirmation & {
        width: 100px;
        fill: $green-500;
    }

    .upload-picture__content & {
        width: 15px;
        fill: $gray-500;
    }

    .page-header__cell & {
        display: inline-block;
        margin-right: $spacing-unit / 2;
        width: 50px;
        vertical-align: middle
    }

    .table__actions & {
        width: 24px;
        fill: $gray-400;
        cursor: pointer;
        transition: fill 0.2s ease;
    }

    .table__actions:hover & {
        fill: $gray-500;
    }

    .table__list-item & {
        width: 10px;
        vertical-align: middle;
    }

    .sidebar__pill & {
          margin-right: $spacing-unit;
          width: 24px;
          vertical-align: middle;
          fill: currentColor;
    }

    .sidebar__profile & {
        width: 18px;
        fill: $gray-500;
        vertical-align: middle;
    }
}
