/*------------------------------------*\
    #TABLE
\*------------------------------------*/

$table-border: 1px solid $gray-300 !default;

.table {
    margin: 0 auto;
    border-collapse: separate;
    border-radius: $border-radius;
    border: 1px solid $gray-300;

    thead {
        background: $gray-100;

        th {
            padding: ($spacing-unit * 1.5);
            color: $gray-500;
            font-weight: $font-weight-semi-bold;
            text-align: left;
            border-bottom: $table-border;
            font-size: $font-size-small;
        }

        th:first-child {
            border-top-left-radius: $border-radius;
        }

        th:last-child {
            border-top-right-radius: $border-radius;
        }
    }

    tbody {
        tr {}

        tr:hover {
            .booking-spaces__items & {
                background: $gray-100;
                cursor: pointer;
            }
        }

        tr.is-disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }

        tr:hover.is-disabled {
            .booking-spaces__items & {
                background: none;
                cursor: not-allowed;
            }
        }

        td {
            padding: $spacing-unit * 1.5;
            vertical-align: middle;
            border-bottom: $table-border;

            tr.is-disabled & {
                cursor: not-allowed;
            }
        }

        tr:last-child td {
            border-bottom: 0;
        }
    }
}


.table--full {
    width: 100%;
}

    .table__group {
        line-height: $line-height-x-small;
    }

        .table__group-key {
            display: block;
            font-size: $font-size;
        }

        .table__group-value {
            display: block;
            color: $gray-500;
            font-size: $font-size-small;
        }

    .table__actions {
        &:hover {
            cursor: pointer;
        }
    }

    .table__list {}

        .table__list-item {
            color: $gray-500;
            font-size: $font-size-small;
        }

    .table__fraction {
        font-weight: normal;
        font-size: $font-size-2x-large;

        sup,
        sub {
            font-weight: normal;
        }
    }

