/*------------------------------------*\
    #TEXT-BUTTON
\*------------------------------------*/

.text-button {
    @include button-reset;
    color: $gray-500;
    cursor: pointer;
    outline: 0;
}

.text-button--primary {
    color: $indigo-500;
}