/*------------------------------------*\
    #UPLOAD-picture
\*------------------------------------*/

.upload-picture {
    max-width: 400px;
    margin: ($spacing-unit * 2) 0;
}

    .upload-picture__title {
        margin-bottom: $spacing-unit / 2;
        color: $gray-500;
        font-weight: $font-weight-medium;
    }

    .upload-picture__zone {
        display: flex;
        align-items: center;
        padding: ($spacing-unit * 2) ($spacing-unit * 4);
        border: 2px dashed $gray-400;
        border-radius: $border-radius;
        transition: background-color 0.2s ease;


        &:hover {
            cursor: pointer;
            background-color: $gray-100;
        }
    }

        .upload-picture__thumbnail {}

            .upload-picture__thumbnail-picture {
                border-radius: $border-radius;
                width: 80px;
            }

        .upload-picture__content {
            margin-left: $spacing-unit * 2;
            text-align: center;
        }

            .upload-picture__description {
                color: $gray-500;
                font-weight: $font-weight-medium;
            }

