<CheckinLayout>
  <div class="checkin-confirmation">
    <h1 class="checkin-confirmation__title">{{t "checkin.index.title"}}</h1>
    <h2 class="checkin-confirmation__punchline">{{t "checkin.index.punchline"}}</h2>

    <div class="checkin-confirmation__excerpt">
      <div class="grid grid--auto grid--middle">
        <div class="grid__cell">
          <div class="checkin-confirmation__excerpt-thumbnail">
            <img class="checkin-confirmation__excerpt-thumbnail-picture" src="/cat.jpg" />
          </div>
        </div>
        <div class="grid__cell">
          <div class="checkin-confirmation__excerpt-content">
            <h3 class="checkin-confirmation__excerpt-space">Kitties Room</h3>

            <div class="checkin-confirmation__excerpt-details">
              <h4 class="checkin-confirmation__excerpt-user">Ges Jeremie</h4>
              <p class="checkin-confirmation__excerpt-time">
                Checked-in at <strong>08:37</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="grid__cell">
        </div>
      </div>
    </div>
    <div class="checkin-confirmation__footer">
    {{inline-svg "icons/checkmark" class="svg"}}<br/>{{t "checkin.index.close_page"}}</div>
  </div>
</CheckinLayout>