<div class="create-team">

  <div class="page-header">
    <div class="page-header__cell">
      {{inline-svg "brands/slack" class="svg"}}
      <h1 class="page-header__title">Slack</h1>
    </div>
    <div class="page-header__cell">
      <LinkTo @route="admin.configure-booking" class="button button--outline">Skip this step for now -></LinkTo>
    </div>
  </div>

  <div class="create-team__content">
    <div class="heading-section">
      <h3 class="heading-section__title">
        Add your team in a few clicks!
      </h3>
      <p class="heading-section__description">
        You can easily add them now to the people list. This can be done manually or through CSV later on if you prefer.
      </p>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Import?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="grid grid--auto grid--middle">
            <div class="grid__cell">
              <div class="thumbnail thumbnail--small thumbnail--circle">
                <img class="thumbnail__picture" src="/jeremie.jpg" />
              </div>
            </div>
            <div class="grid__cell">
              <p class="table__group">
                <span class="table__group-key"><strong>Jeremie Ges</strong></span>
                <span class="table__group-value">jeremie@syatt.io</span>
              </p>
            </div>
          </div>
        </td>
        <td>
          <button class="button button--small">Regularly in office</button>
          <button class="button button--small">Mostly remote</button>
        </td>
        <td>
          <XToggle @value="true" />
        </td>
      </tr>
      <tr>
        <td>
          <div class="grid grid--auto grid--middle">
            <div class="grid__cell">
              <div class="thumbnail thumbnail--small thumbnail--circle">
                <img class="thumbnail__picture" src="/laurent.jpg" />
              </div>
            </div>
            <div class="grid__cell">
              <p class="table__group">
                <span class="table__group-key"><strong>Laurent Schaffner</strong></span>
                <span class="table__group-value">laurent@syatt.io</span>
              </p>
            </div>
          </div>
        </td>
        <td>
          <button class="button button--small">Regularly in office</button>
          <button class="button button--small">Mostly remote</button>
        </td>
        <td>
          <XToggle @value="true" />
        </td>
      </tr>
    </tbody>
  </table>

  <div class="create-team__submit">
    <LinkTo @route="admin.configure-booking" class="button button--primary">Finish setup</LinkTo>
  </div>
</div>
