<div class="billing">
   <div class="empty-state">
     <div class="empty-state__asset empty-state__asset--billing">
       {{inline-svg "illustrations/make-it-rain" class="svg"}}
     </div>

     <h1 class="empty-state__title">{{t "admin.billing.no_results.title"}}</h1>
     <p class="empty-state__description">{{t "admin.billing.no_results.description"}}</p>
  </div>
</div>