<div class="not-found">
  <div class="not-found__wrapper">
    <div class="empty-state">
      <div class="empty-state__asset empty-state__asset--not-found">
        {{inline-svg "illustrations/blank_canvas" class="svg"}}
      </div>

      <h1 class="empty-state__title">{{t "not_found.title"}}</h1>
      <p class="empty-state__description">{{t "not_found.description"}}</p>

      <div class="empty-state__button">
        <LinkTo @route="application" class="button button--large button--primary">{{t "not_found.return_to_root"}}</LinkTo>
      </div>
    </div>
  </div>
</div>