<div class="signup">
  <div class="signup__wrapper">
    <div class="signup__intro">
      <h3 class="signup__title">Welcome to BigSeat.</h3>
      <div class="signup__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis orci sed ligula mattis lacinia. Etiam volutpat mattis orci, et ullamcorper enim tincidunt eu. Vivamus vitae tempor est, vel ornare tortor.</p>

        <p>Pellentesque consequat dapibus lorem a consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

        <p>Mauris ac ipsum luctus, placerat leo vel, laoreet elit. Aenean leo diam, hendrerit vel lorem a, venenatis condimentum tellus. Aenean sit amet leo ac diam condimentum semper non id massa. Morbi porttitor libero in mi tempor tincidunt. Duis sed euismod nisi. Donec vitae sem velit.</p>
      </div>
    </div>

    <Signup::Form @changeset={{changeset this.signupRequest this.SignupRequestValidation}} @signup={{this.signup}} />
  </div>
</div>

<NotificationContainer
  @position="top"
  zindex="9999"
/>

{{#if isShowingTerms}}
  <ModalDialog
      @onClose={{this.toggleTerms}}
      @targetAttachment="none"
      @translucentOverlay="true"
      @wrapperClass="centered-scrolling"
      @overlayClass="centered-scrolling__overlay"
      @containerClass="centered-scrolling__container"
  >
    <Terms />
  </ModalDialog>
{{/if}}


{{#if isShowingPrivacy}}
  <ModalDialog
      @onClose={{this.togglePrivacy}}
      @targetAttachment="none"
      @translucentOverlay="true"
      @wrapperClass="centered-scrolling"
      @overlayClass="centered-scrolling__overlay"
      @containerClass="centered-scrolling__container"
  >
    <Privacy />
  </ModalDialog>
{{/if}}
