<div class="style-guide">
  <div class="style-guide__wrapper">
    <div class="style-guide__section">
      <StyleGuide::Colors />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Typography />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Forms />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Buttons />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Dropdowns />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Tables />
    </div>

    <div class="style-guide__section">
      <StyleGuide::CardIntegrations />
    </div>
  </div>
</div>