<div class="style-guide">
  <div class="style-guide__wrapper">
    <div class="style-guide__section">
      <StyleGuide::Colors />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Typography />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Forms />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Buttons />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Dropdowns />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Tables />
    </div>

    <div class="style-guide__section">
      <StyleGuide::PluginCard />
    </div>

    <div class="style-guide__section">
      <StyleGuide::NavigationPills />
    </div>

    <div class="style-guide__section">
      <StyleGuide::PageHeader/>
    </div>

    <div class="style-guide__section">
      <StyleGuide::HeadingSection />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Thumbnails />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Badges />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Svg />
    </div>

    <div class="style-guide__section">
      <StyleGuide::Calendar />
    </div>
  </div>
</div>